/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.DS_Store
/public/resources
/database/migrations
Homestead.json
Homestead.yaml
composer.phar
npm-debug.log
yarn-error.log
.env
.phpstorm.meta.php
_ide_helper_models.php
_ide_helper.php
