.icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
  vertical-align: middle;
}

.icon-edit {
  background-image: url('/img/icons/edit.png');
}

.icon-remove {
  background-image: url('/img/icons/remove.png');
}

.icon-condition {
  background-image: url('/img/icons/condition.png');
}

.icon-inverter {
  background-image: url('/img/icons/inverter.png');
}

.icon-parallel {
  background-image: url('/img/icons/parallel.png');
}

.icon-race {
  background-image: url('/img/icons/race.png');
}

.icon-selector {
  background-image: url('/img/icons/selector.png');
}

.icon-sequence {
  background-image: url('/img/icons/sequence.png');
}

.icon-succeeder {
  background-image: url('/img/icons/succeeder.png');
}

.icon-task {
  background-image: url('/img/icons/task.png');
}

.icon-template {
  background-image: url('/img/icons/template.png');
}

.icon-templatereference {
  background-image: url('/img/icons/templatereference.png');
}

.icon-tree {
  background-image: url('/img/icons/tree.png');
}

.icon-decorator {
  background-image: url('/img/icons/decorator.png');
}

.icon-composite {
  background-image: url('/img/icons/composite.png');
}
